<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
        <div class="headerImg"></div>
        <div class="container">
            <div class="flexContainer introSection mM">
                <div class="introContainer">
                    <h2 class="sMB"><%= pageIntro %></h2>
                    <p><%= pageDiscription %></p>
                </div>
            
                <img src="<%- introImg  %>" alt="" class="introImg">
            </div>
            
        </div>
        <div class="container">
            <div class="gridContainer"></div>
        </div>



    <%- include('./partials/footer') %>
</body>
</html>